* {
    box-sizing: border-box;
}

body {
    background-color:#ffffff
}

header {
    font-size: 32px;
    background-color:#6a7175
}

html {
    font-size: 50px;
    text-align: center;
    background-color: #ffffff;
    color: #000;    
}

section {
    min-height: 1000px;
    font-size: 32px;
}

.myProjects a{
    margin-top: 30px;
    color: #6047ff
}

.logo {
    width:300px;
    height:200px;
    margin-left: -70%;
}

.photosites{
    width:1050px;
    height:500px;
    filter: blur(3px);
    transition: 0.5s
}

.photosites:hover {
    filter: blur(0); 
}

