* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url("/MyLanding/img/DB2020AU01934_web_1600.jpg") center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_text {
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    color: #ff4e4e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 41px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span{
    color: #ff4e4e;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 345px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #b96e27 0%, #da923a 100%);
    color: #ffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.more {
    margin-top: 73px;
}

.more .more-text {
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    margin-left: 105px;
}

.waiting .waiting_wrapper .waiting_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 50%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #229cbd;
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization-text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
}

.optimization .optimization-text span {
    font-weight: 700;
}

.optimization .optimization-img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}



.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #e6e3ff;
    border-radius: 100%;
}

.finish_icon {
    width: 50%;
}


.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 38px;
    text-align: center;
    color: #000000;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.gift {
    min-height: 200px;
    background-color: #EFEFEF;
    padding: 10px 0;
}

.gift .gift_img {
    display: block;
    margin: 40px auto;
    width: 10%;
}

.gift .gift_text {
    margin-top: 25px;
    color: #4a4a4a;
    /* font-family: "Roboto Light"; */
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.gift .gift_btn {
    margin-top: 50px;
    margin-bottom: 50px;
}
 
.webinar {
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#b4b4b4
}
 
.webinar .webinar_img {
    width: 300px;
    display: block;
    margin: 40px auto;
}
   
.webinar .webinar_header {
    margin-top: -15px;
    text-align: center;
    text-transform: uppercase;
}
 
.webinar .webinar_data {
    margin-top: 15px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299abd;
}
 
.webinar .webinar_text {
    margin-top: 15px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}

footer{
    height: 169px;
    background: ©#1A1A1A;
    background-color: #a6a6a6
}

footer .footer_wrap {
    display: flex;
    justify-content: center;
}
 
footer .footer_link, footer .footer_text, footer .footer_link_divider {
    margin-top: 70px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #888888;
}

footer .footer_text {
    margin-top: 0;
}

footer .footer_link_divider {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 800;
}